*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: starWarsFont;
    src: url(../fonts/SFDistantGalaxy.ttf);
}
@font-face {
    font-family: righteousRegular;
    src: url(../fonts/Righteous-Regular.ttf);
}
/* Versión Mobile */
body{
    background-image: url('../imgs/starwars.jpeg.jpeg');
    /* background-image: url("/assets/imgs/star-wars-backgrounds-25_bc15ec98.jpeg"); */
    font-family: 'righteousRegular';
}
header{
    display: grid;
    grid-template-areas: 
    'nav'
    'aside'
    'main'
    'footer';
    grid-template-rows: 1fr 1fr 9fr 1fr;
    height: 100vh;
}
h1{
    font-size: 2.5em;
    text-align: center;
}
nav{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    background-color:#e5703d;
    color: white;
    padding: 2em;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 45px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: aside;
    background-color: #f0ece1;
    padding-top: 1em;
    padding-bottom: 1em;
}
.box-vader{
    display: none;
}
.style-link{
    display: flex;
    gap: 5px;
    margin-right: 1em;
    margin-left:1em;
}
.style-link a{
    text-decoration: none;
    color: #3b444b;
}
.style-link a:hover{
    color: #e5703d;
}
main{
    grid-area: main;
    padding-top:1em ;
    padding-bottom: 1em;
}
.main-h3{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
    font-size: 2em;
}
.main-h3-2{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1.5em;
    font-size: 2em;
}
#precuela, #series{
    scroll-margin-top: -100px;
}
#series-a{
    margin-bottom: 2.5em;
}
.grid-cards{
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    justify-items: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    border: solid 0.2em #dd4e1e;
    width:70%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    filter:grayscale(100%);
    transition:filter 1s ease-in-out;
}
.card:hover{
    filter: grayscale(0%);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #3b444b;
    color: white;
    padding: 0.5em;
}
footer p {
    text-align: center;
}
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px 30px;
    background-color:#dd4e1e;
    color: #fff;
    border: 3px solid #f0ece1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Versión Tablet */
@media(min-width:576px){
header{
    grid-template-areas:
    'nav nav'
    'aside main'
    'footer main';
    grid-template-rows:1fr auto 100px ;
    grid-template-columns: 2fr 10fr ;
}
aside{
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
}

.contenedor{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.box-vader{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2s ease-in;
}
.contenedor .imagen1{
    opacity: 1;
}
.contenedor .imagen2{
    opacity: 0;
}
.contenedor:hover .imagen1{
    opacity: 0;
}
.contenedor:hover .imagen2{
    opacity: 1;
}
.contenedor .imagen1,
.contenedor .imagen2 {
    position: absolute;
    top: 0;
    left: 0;
}
.style-link{
    padding-top: 3em;
    flex-direction: column;
}
.style-link a:hover{
    color:#e5703d;
}
.style-link a{
    padding-top: 2em;
}
main{
    overflow-y:auto ;
}
#img-spin{
    transform: rotateY(0deg);
    transition: transform 6s ease-in;
}
#img-spin:hover{
    transform:rotateY(360deg);
}
.grid-cards{
    grid-template-columns: auto auto; 
}
.floating-button {
    display: none;
}
}

/* Versión Escritorio */
@media(min-width:992px){
header{
    grid-template-areas:
    'nav nav'
    'aside main'
    'footer footer';
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}
nav{
    background-color:#e5703d;
    color: white;
    transition:all 2s ease-in;
}
nav:hover{
    background-color:#9c1b1b;
    color: #080808;
}
aside{
    background-color: #f0ece1;
    color:black;
    transition: all 2s ease-in;
}
aside:hover{
    background-color: #9c1b1b;
    color: #f0ece1;
}
.style-link a{
    font-size: 1.2em;
    color:#080808;
}
.style-link a:hover{
    color: #f0ece1;
}
.contenedor{
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.grid-cards{
    grid-template-columns: auto auto auto;
}
footer{
    background-color: #3b444b;
    color:#f0ece1;
    transition: all 2s;
}
footer:hover{
    background-color: #080808;
    color: #f0ece1
}
}